.burger {
  // .burger__btn

  &__btn {
    display: none;
    @media (max-width: 758px) {
      display: block;
    }
  }
}
.burger-icon {
  height: 24px;
  width: 28px;

  position: relative;

  span {
    display: block;
    background-color: var(--accent);
    border-radius: 100px;
    width: 100%;
    height: 6px;
    margin-top: 2px;
  }
}
