.feedback {
  // .feedback__container

  &__container {
  }

  // .feedback__title

  &__title {
    padding-bottom: 32px;
  }

  // .feedback__slider

  &__slider {
    position: relative;
  }
}

.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 70px;
}
.swiper-slide {
  // .swiper-slide__card
  cursor: pointer;

  &__card {
    background-color: #fff;
    width: 625px;
    padding: 32px 32px 8px;
    border-radius: 16px;
    @media (max-width: 1536px) {
      margin-left: 130px;
    }
    @media (max-width: 1024px) {
      margin-left: 0px;
    }
    @media (max-width: 758px) {
      width: 500px;
    }
    @media (max-width: 640px) {
      margin-left: -70px;
    }
    @media (max-width: 515px) {
      width: 350px;
      margin-left: -20px;
    }
    @media (max-width: 430px) {
      margin-left: -70px;
    }
  }

  // .swiper-slide__title

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    @media (max-width: 758px) {
      font-size: 16px;
    }
  }

  // .swiper-slide__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    @media (max-width: 758px) {
      justify-content: space-evenly;
    }
  }

  // .swiper-slide__name

  &__name {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33; /* 133.333% */
    @media (max-width: 758px) {
      font-size: 16px;
    }
  }

  // .swiper-slide__quote
}
.slider-button {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1800px) {
    top: -100px;
    right: 0;
    width: auto;
    gap: 15px;
  }
  @media (max-width: 515px) {
    display: none;
  }
}

.swiper-button-prev {
  position: absolute;
  left: -40px;
}

.swiper-button-next {
  position: absolute;
  right: -40px;
}
.feedback-slider-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  @media (max-width: 1800px) {
    position: static;
  }
  @media (max-width: 1024px) {
    width: 55px;
    height: 55px;
  }
}
